body {
    display: flex;
}

.stack {
    width: 240px;

    background-color: #EBECF0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    margin-left: 8px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack__item-container {
    height: 200px;
    background-color: greenyellow;
}

[draggable] {
    user-select: none;
}

.stack__add {
    width: 240px;
    height: 40px;
    border: none;
    color: #959eac;
    text-align: left;
}

.stack__add:focus {outline:0;}

.sort {
    width: 240px;
    height: 40px;
    border: none;
    color: #959eac;
    text-align: center;
    margin-bottom: 4px;
}

.newList {
    width: 240px;
    height: 40px;
    border: none;
    color: #959eac;
    text-align: center;
    margin-bottom: 4px;
}

.stack__add:hover{
    border-radius: 4px;
    width: 240px;
    height: 40px;
    background-color: #e1e2e6;
}

.sort:hover {
    border-radius: 4px;
    width: 240px;
    height: 40px;
    background-color: #e1e2e6;
}

.card{
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(212, 212, 212, 0.5);
    width: 232px;
    height: 40px;
    margin: 4px;
    align-self: center;
}

input {
    align-self: center;
    border: none;
    width: 229px;
    height: 100%;
    cursor: move;
}


[value] {
    font-size: 12px;
    color: #546178;
    align-self: center;
}
